In [1]:
print("Olá mundo")

Olá mundo

In [2]:
# Comentário de 1 linha
'''
Comentário de várias linhas
Pode explicar blocos complexos
'''
x=10
if x>5:
  print("Maior que 5")
else:
  print("Menor que 5")

Maior que 5

In [5]:
nome = "João" #str
idade = 20 #int
altura = 1.75 # float
ativo = True # bool

print("Nome:", nome)
print("Idade:", idade)
print("Altura:", altura)
print("Ativo?", ativo)

Nome: João
Idade: 20
Altura: 1.75
Ativo? True

In [6]:
nome = input("Digite o seu nome:")
idade = input("Digite a sua idade:")
print("Olá", nome, "! Você tem", idade, "anos")

Digite o seu nome:joao
Digite a sua idade:32
Olá joao ! Você tem 32 anos

In [8]:
nome = input("Digite o seu nome:")
idade = int(input("Digite a sua idade:"))
altura = float(input("Digite a sua altura:"))
print("Olá", nome, "! Você tem", idade, "anos e mede", altura, "m de altura")

Digite o seu nome:João
Digite a sua idade:32
Digite a sua altura:1.79
Olá João ! Você tem 32 anos e mede 1.79 m de altura

In [9]:
print("Olá," + nome + "!")
print(f"Olá {nome}, você tem {idade} anos e mede {altura} metros")

preco = 123.45687
print(f"Preço formatado: R$ {preco:.2f}")

Olá,João!
Olá João, você tem 32 anos e mede 1.79 metros
Preço formatado: R$ 123.46

In [13]:
x = int(input("Digite um número: "))
y= int(input("Digite outro número: "))
print(f"A soma de {x} e {y} é {x+y}.")

Digite um número: 15
Digite outro número: 2
A soma de 15 e 2 é 17.

In [1]:
a = "10"
b = "3.5"

print("Resultado =", int(a) + float(b))
print(str(10) + " Unidades")
print(bool(1))

Resultado = 13.5
10 Unidades
True

In [ ]:
x = int(input("Digite um número: "))
y = int(input("Digite outro número: "))

print(f"{x} + {y} = {x + y}")
print(f"{x} - {y} = {x - y}")
print(f"{x} * {y} = {x * y}")
print(f"{x} / {y} = {x / y}")
print(f"{x} // {y} = {x // y}")
print(f"{x} % {y} = {x % y}")
print(f"{x} ** {y} = {x ** y}")

Digite um número: 20
Digite outro número: 15
20 + 15 = 35
20 - 15 = 5
20 * 15 = 300
20 / 15 = 1.3333333333333333
20 // 15 = 1
20 % 15 = 5
20 ** 15 = 32768000000000000000

In [2]:
idade = int(input("Digite sua idade: "))
print("Maior de idade?", idade >=18)
print("Menor de 65?", idade <65)

# Combinação lógica
print("Adulto aposentável?", idade >= 18 and idade >=65)
print("Fora da faixa adulta?", idade < 18 and idade >65)

Digite sua idade: 32
Maior de idade? True
Menor de 65? True
Adulto aposentável? False
Fora da faixa adulta? False

In [3]:
print(2+3*4)
print((2+3)*4)
print(2*3**2)
print((2*3)**2)
print(8/2*4)

14
20
18
36
16.0

In [4]:
nome = input("Digite seu nome:")
idade = int(input("Digite a sua idade:"))
altura = float(input("Digite a sua altura"))

print(f"Olá, {nome}, você terá {idade + 1} anos no próximo ano e mede {altura:.2f} metros.")

if idade >= 18:
  print("Você é maior de idade")
else:
  print("Ainda é menor de idade")

Digite seu nome:João
Digite a sua idade:32
Digite a sua altura1.79
Olá, João, você terá 33 anos no próximo ano e mede 1.79 metros.
Você é maior de idade