In [1]:
#Usando listas
students = ["João", "Maria", "José", "Ana"]
print(students[0])
print(students[1])
print(students[2])

Maria

In [14]:
for student in students:
  print(student)

In [6]:
# adicionar no final da lista

students.append("Carlos")
print(len(students))

# O código abaixo faz a mesma coisa que students.append

students[len(students):] = ["Madalena"]

print(len(students))

6
7

In [8]:
#remover item da lista
students.remove("Carlos")

In [10]:
#contagem
students.count("João")

1

In [11]:
#inverter ordem da lista
students.reverse()

In [13]:
#Limpa a lista
students.clear()

In [16]:
# Usando dicionários
students = ["João", "Maria", "José", "Ana", "Madalena"]
classes = ["Math", "English", "Portuguese", "Arts", "Science"]

students_class = {
    "João" : "Math",
    "Maria" : "English",
    "José" : "Portuguese",
    "Ana" : "Arts",
    "Madalena" : "Science"
}

for student in students_class:
  print(f"{student} : {students_class[student]}")

João : Math
Maria : English
José : Portuguese
Ana : Arts
Madalena : Science

In [17]:
joao_contact = {
    "id": 1,
    "nome": "João",
    "Telefone": "90000-0000"
}

maria_contact = {
    "id": 2,
    "nome": "Maria",
    "Telefone": "91111-1111"
}

people_list = [joao_contact, maria_contact]

for person in people_list:
  print(person)

{'id': 1, 'nome': 'João', 'Telefone': '90000-0000'}
{'id': 2, 'nome': 'Maria', 'Telefone': '91111-1111'}

In [22]:
people_list=[
    {"id": 1, "nome":"João", "Telefone": "90000-0000"},
    {"id": 2, "nome": "Maria","Telefone": "91111-1111"}
]
for person in people_list:
  print(person["id"])

João
Maria

In [24]:
def main():
  print_column(10)

def print_column(height):
  for _ in range(height):
    print("#")

main()

#
#
#
#
#
#
#
#
#
#

In [31]:
def main():
  print_row(10)
  print_blank(50)

def print_row(widht):
    print("-" * widht)

def print_blank(blank):
  print(" " * blank)

main()

----------

In [34]:
def main():
  print_square(10)

def print_square(size):
  #para cada linha do quadrado
  for i in range(size):
    #para cada coluna do quadrado
    for j in range(size):
      print("#", end="")
    print()
main()

##########
##########
##########
##########
##########
##########
##########
##########
##########
##########

In [38]:
def main():
  print_square(5)

def print_square(size):
  for i in range(size):
    print_row(size)

def print_row(widht):
  print("#" * widht)

main()

#####
#####
#####
#####
#####